* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
}

.glavni-naslov {
    background-color: #026a02;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 3rem;
    min-width: 42rem;
    border-bottom: 3px black solid;
}

.glavni-naslov__logoi {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.glavni-naslov__logo {
    max-height: 2rem;
    vertical-align: middle;
}

.glavni-naslov__logo img {
    max-height: 2rem;
    vertical-align: middle;
    padding-left: 1rem;
}

.glavni-naslov .logo-natpis {
    max-height: 2rem;
}

.glavni-nav {
    min-width: 25rem;
}

.glavni-nav__linkovi {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    list-style-type: none;
    margin-right: 2rem;
    padding: 0;
}

.glavni-nav__link a {
    text-decoration: none;
    color: white;
    margin: 3px;
    padding: 8px;
    font-weight: 900;
}

.glavni-nav__link a:hover,
.glavni-nav__link a:active {
    color: #ff8800;
    background-color: white;
    border-radius: 9px;
}

.main-osnova {
    background-color: #026a02;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 5rem 0;
    height: 100%;
}

.main-osnova__tekst {
    display: flex;
    flex-direction: column;

}

.main-osnova__tekst h2 {
    color: white;
    margin: 0;
    width: fit-content;
    margin-bottom: 1rem;
}

.main-osnova__tekst p {
    color: white;
    max-height: 21rem;
    max-width: 32rem;
    margin: 0;
    width: 21rem;
    margin-bottom: 1rem;
}

.main-osnova__tekst button {
    border-radius: 9px;
    width: 7rem;
    background-color: #ff8800;
    color: white;
    padding: 0.5rem;
}

.main-osnova__tekst button:hover,
.main-osnova__tekst button:active {
    color: #ff8800;
    background-color: white;
    border-radius: 9px;
}

.main-osnova__fotografija img {
    max-height: 21rem;
    max-width: 32rem;
    background-origin: border-box;
}

.main-fotografija {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main-fotografija__slike {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20rem 0 20rem;
}

.slika {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 2rem;
    padding: 1rem;
}

.slika img {
    width: 10rem;
    height: 10rem;
    border: 3px solid #6f6d6d;
    padding: 0;
}

.opis {
    font-weight: 700;
    font-size: larger;
    padding-top: 1rem;
}

.main-citat {
    display: flex;
    flex-direction: column;
    padding: 3rem 0;
    width: 70%;
    margin: auto;
}

.main-citat__tekst {
    font-size: 1.8rem;
    font-weight: 600;
    width: 70%;
    margin: auto;
    padding-top: 3rem;
}

.main-citat__potpis {
    align-self: flex-end;
    margin-top: 0;
    margin-right: 10rem;
    font-size: 1.2rem;
    font-weight: 900;
}

.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    background-color: #026a02;
    width: 75%;
    margin: auto;
    padding: 1.5rem 0;
    border-radius: 10px;
    margin-bottom: 3rem;
}

.levo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

}

.sign-up__poziv {
    color: white;
    font-weight: 600;
    font-size: 1.2rem;
}

.sign-up__tekst {
    color: white;
}

.sign-up button {
    border-radius: 9px;
    width: 7rem;
    background-color: #ff8800;
    color: white;
    padding: 0.5rem;
}

.sign-up button:hover,
.sign-up button:active {
    color: #ff8800;
    background-color: white;
    border-radius: 9px;
}

.glavni-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ff8800;
    padding: 0 3rem;
}

.glavni-footer p {
    color: white;
    font-size: 1.2rem;
}